<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/webp" href="/images/logo.webp">


    <title>Psychobuddy</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <img src="/image/logo.webp" alt="Psychobuddy Logo">
        <h1>Welcome to Psychobuddy</h1>
        <p>Your Mental Health Companion</p>
    </header>
    
    <section class="features">
        <div class="feature">
            <img src="/image/mood.webp" alt="Healthy Food">
            <h2>Mood Tracking</h2>
            <p>Log your daily emotions and track your mental health over time.</p>
        </div>
        <div class="feature">
            <img src="/image/meditation.jpg" alt="Healthy Food">
                <h2>Guided Meditation</h2>
                <p>Listen to calming meditations.</p>
        </div>
        <div class="feature">
            <img src="/image/food.jpg" alt="Healthy Food">
                <h2>Food & Diet Tips</h2>
                <p>Discover nutritious foods to boost your mental health.</p>
        </div>
    </section>

    <div class="btn-container">
        <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Register</button></a>
    </div>
</body>
</html>
